body{
	background-image:url('./DSC00485.webp');
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'LXGW WenKai Light', 'Saira Light', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
	text-align: center;
	text-shadow: 1px 1px 2px gray;
    background-attachment:fixed;
}
@font-face {
  font-family: 'Saira Light';
  src: url('./Saira-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LXGW WenKai Light';
  src: url('./LXGWWenKai-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
a:link {
color: white;
text-decoration: none;
}
a:hover {
color: gray;
text-decoration: underline;
}
a:visited {
color: #cba6f7;
}
.footer {
display: flex;
height: 200px;
font-size: 10px;
text-align: right;
}
ul{
	list-style-type: none;
}
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px;
    justify-content: center;
    align-items: start;
}
.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
.card{
  display: flex;
	width: 300px;
	height: 110px;
  border-radius: 15px;
  position:relative;
  transition:0.5s;
  transition-style: preserve-3d;
	backdrop-filter: blur(7px);
	background-color: rgba(255, 255, 255, 0.3);
  padding: 20px 25px;
}
.card-image {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    border: 1.5px solid rgba(0, 0, 0, 0.85);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    margin-right: 16px;
}
.card-content {
    flex: 1;
    padding: 0px;
    display: flex;
    flex-direction: column;
    max-width: 70%;
    justify-content: space-between;
}
.card-ti {
    flex: 1;
    font-size: 18px;
    line-height: 1;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}
.card:hover {
    transform: perspective(500px) translateZ(50px);
   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}
.card-ar {
   flex: 1;
    font-size: 14px;
    line-height: 1.4;
    overflow: hidden;
}
.card-al {
    font-size: 9px;
    line-height: 1.4;
    overflow: hidden;
   flex: 1;
   text-align: right;
   bottom: 0;
   right: 0;
}
.pagination_button{
    margin-top: 16px;
    display: flex;
    justify-content: center;
}
.pbutton{
	width: 150px;
	height: 20px;
  border-radius: 15px;
  position:relative;
  transition:0.5s;
  transition-style: preserve-3d;
	backdrop-filter: blur(7px);
	background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  margin-right: 10px;
  line-height: 20px;
  padding: 20px 25px;
}
.nbutton{
	width: 150px;
	height: 20px;
  border-radius: 15px;
  position:relative;
  transition:0.5s;
  transition-style: preserve-3d;
	backdrop-filter: blur(7px);
	background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  margin-left: 10px;
  line-height: 20px;
  padding: 20px 25px;
}
.pbutton:hover{
    transform: perspective(500px) translateZ(50px);
   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}
.pbutton p{
    margin: 0px 0px 0px 0px;
}
.nbutton p{
    margin: 0px 0px 0px 0px;
}
.nbutton:hover{
    transform: perspective(500px) translateZ(50px);
   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}
.previous_button_hide{
    display: none;
}
.next_button_hide{
    display: none;
}
.carddgsghdfh {/*参考自项目：https://github.com/silvaire-qwq/Miracle */
  border-radius: var(--vp-border-radius-1);
  border: 1px solid var(--vp-c-divider);
  height: 100%;
  background-color: var(--vp-c-bg);
  will-change: transform;
  box-shadow: var(--vp-shadow);
  transition: all var(--vp-transition-time);
}

.cardhgfhdfhfdh:hover {
  border-color: var(--vp-c-brand-1);
  box-shadow: var(--vp-shadow-brand);
}
